<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
           title="<%- page.prev.title %>">&larr; <%- __('prevPost')%></a>
    </li>
    <% } %>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
           title="<%- page.next.title %>"><%- __('nextPost')%> &rarr;</a>
    </li>
    <% } %>
</ul>